<div class = "sections">
<section class="markdown">
  <h2>Markdown</h2>
{{textarea value = markdown placeholder= "Write markdown here" }}
</section>
<section class= "output">
  <h2>HTML</h2>
  {{showdown-addon markdown}}
</section>
</div>

{{outlet}}
